/* *{
    margin: 0;
    padding: 0;
} */

.container{
    text-align: center;
    margin-top: 100px;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
    border: 4px solid green;
    border-radius: 23px;
}
button{
    font-size: 44px;
    background-color: rgb(231 255 26);
    width: 89px;
    height: 56px;
    border-radius: 26px;
}
.calculator-table{
    display: inline-block;
    background-color: red;
    border-radius: 10px;

}